<div
  class="min-h-screen bg-blue-900 text-white max-w-xs mx-auto overflow-hidden"
>
  <app-header></app-header>

  <main class="px-5 mt-12">
    <app-account-balance></app-account-balance>

    <app-expense-form
      (formSubmitEvent)="ledgerAdded($event)"
    ></app-expense-form>

    <div class="py-5">
      <h2 class="mb-2 font-medium text-xl">Income</h2>
      <app-income *ngFor="let income of incomes" [income]="income"></app-income>
    </div>

    <div class="py-5">
      <h2 class="mb-2 font-medium text-xl">Expense</h2>
      <app-expenses
        *ngFor="let expense of expenses"
        [expense]="expense"
      ></app-expenses>
    </div>
  </main>
</div>
